<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/index :: header}">
    <meta charset="UTF-8">
    <title>Pet Clinic</title>
</head>
<body>
      <div class="container-fluid  ">
          <div class="authentication-wrapper authentication-basic container-p-y">
              <div class="card">
                  <div class="card-body">
                      <div class="app-brand justify-content-center">
                          <span class="app-brand-link gap-2">Pet Clinic</span>
                      </div>
                      <form id="formAuthentication" class="mb-3" th:action="@{/login}" method="POST">
                          <div class="mb-3">
                              <label for="email" class="form-label">Email or Username</label>
                              <input type="text" class="form-control" id="email" name="email-username" placeholder="Enter your email or username" autofocus="">
                          </div>
                          <div class="mb-3 form-password-toggle">
                              <div class="d-flex justify-content-between">
                                  <label class="form-label" for="password">Password</label>
                                  <a href="auth-forgot-password-basic.html">
                                      <small>Forgot Password?</small>
                                  </a>
                              </div>
                              <div class="input-group input-group-merge">
                                  <input type="password" id="password" class="form-control" name="password" placeholder="············" aria-describedby="password">
                                  <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                              </div>
                          </div>
                          <div class="mb-3">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" id="remember-me">
                                  <label class="form-check-label" for="remember-me">
                                      Remember Me
                                  </label>
                              </div>
                          </div>
                          <div class="mb-3">
                              <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
</body>
</html>